<!DOCTYPE html>

<head>
    <title>AOTC Skill Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/skillPlanner.css" />
    <script src="/JavaScript/vue.global.prod.js"></script>
</head>

<body>
    <div id="app" class="mainDiv">

        <header>
            <h1>AOTC Skill Planner</h1>
            <div class="websiteDiv">
                <a class="links" href="https://www.swg-aotc.com/">AOTC Website</a>
            </div>
        </header>
        <main>
            <div class="professionContainer">
                <span class="smallTitle">Professions</span>
                <ul id="listProfessions">
                    <li v-for="profession in basicProfessions" :class="[{ activeProfession: currentSelectedProfession.name == profession.name }, {
                        selectedProfession: currentSelectedProfessions.includes(profession.professionName)}]"
                        @click="clickProfession(profession)">
                        {{profession.name}}
                    </li>
                    <hr />
                    <li v-for="profession in eliteProfessions" :class="[{ activeProfession: currentSelectedProfession.name == profession.name }, {
                        selectedProfession: currentSelectedProfessions.includes(profession.professionName)}]"
                        @click="clickProfession(profession)">
                        {{profession.name}}
                    </li>
                    <hr />
                    <li v-for="profession in jediProfessions" :class="[{ activeProfession: currentSelectedProfession.name == profession.name }, {
                        selectedProfession: currentSelectedProfessions.includes(profession.professionName)}]"
                        @click="clickProfession(profession)">
                        {{profession.name}}
                    </li>
                    <hr />
                    <li v-for="profession in forceProfessions" :class="[{ activeProfession: currentSelectedProfession.name == profession.name }, {
                        selectedProfession: currentSelectedProfessions.includes(profession.professionName)}]"
                        @click="clickProfession(profession)">
                        {{profession.name}}
                    </li>
                </ul>
            </div>

            <div class="skillPlannerContainer">
                <div class="shareBuildContainer">
                    <button class="mainButton" @click="clickShareBuild">Share Build</button>
                    <input class="shareBuildInput" disabled v-model="shareURL" v-if="shareURL != ''" />
                    <transition name="fade">
                        <div class="toast" v-if="showCopyToast">{{copyClipboardMessage}}</div>
                    </transition>
                </div>
                <div class="selectProfessions">
                    <div class="selectedProfessionBox" v-for="professionName in currentSelectedProfessions"
                        @click="clickProfession(getProfessionByName(professionName))">
                        {{skillData.skill_names[professionName]}}
                        <div class="cancelSelectedProfessionBox"
                            @click="clickSkillBox(getProfessionByName(professionName).novice)">X</div>
                    </div>
                </div>
                <div class="skillTitleHeader">
                    <div id="skillName" class="skillName">
                        {{currentSelectedProfession.name}}
                    </div>
                    <div class="resetButtonContainer">
                        <div id="resetButton" class="resetButton" @click="resetPlanner">
                            Reset
                        </div>
                    </div>
                </div>

                <div class="skillPlannerBody">
                    <div class="topMasterSkills topMasterEliteSkillsText" :style="[skillPlannerData.professionLists.eliteProfessionMap[currentSelectedProfession.master] != undefined && 
                        skillPlannerData.professionLists.eliteProfessionMap[currentSelectedProfession.master].length > 4
                        ? {'flex-wrap': 'wrap'} : '']">
                        <span v-for="profession in
                        skillPlannerData.professionLists.eliteProfessionMap[currentSelectedProfession.master]"
                            @click="clickProfession(getProfessionByName(profession))">
                            {{skillData.skill_names[profession]}}
                        </span>
                    </div>

                    <div class="masterSkillBox">
                        <div id="masterSkillBox" class="professionSkillBox largeSkillBox masterSkillBoxLabel"
                            :class="{ active: currentSelectedSkills.includes(currentSelectedProfession.master) }"
                            @mouseover="showSkillTooltip.master = true" @mouseleave="showSkillTooltip.master = false"
                            @click="clickSkillBox(currentSelectedProfession.master)">
                            {{skillData.skill_names[currentSelectedProfession.master]}}
                            <div v-if="showSkillTooltip.master" class="tooltiptext">
                                <span v-if="skillData.skill_titles[currentSelectedProfession.master] != undefined"
                                    class="tooltipSkillTitleText
                                    skillTitle">({{skillData.skill_titles[currentSelectedProfession.master]}})</span>
                                <span
                                    class="tooltipDescription">{{skillData.skill_descriptions[currentSelectedProfession.master]}}</span>
                                <span class="tooltipMods"
                                    v-if="Object.keys(skillData.skills[currentSelectedProfession.master].skill_mods).length">
                                    <b>MODS:</b>
                                    <br>
                                    <div
                                        v-for="(mod, modName, index) in skillData.skills[currentSelectedProfession.master].skill_mods">
                                        <span v-if="skillData.skill_mod_names[modName] != undefined">
                                            {{skillData.skill_mod_names[modName]}}: {{mod}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkills"
                                    v-if="Object.keys(skillData.skills[currentSelectedProfession.master].commands).length">
                                    <b>SKILLS:</b>
                                    <div v-for="command in skillData.skills[currentSelectedProfession.master].commands">
                                        <span class="skillsColor"
                                            v-if="skillData.command_names[command.toLowerCase()] != undefined">
                                            {{skillData.command_names[command.toLowerCase()]}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkillPoints">This skill requires
                                    <b>{{skillData.skills[currentSelectedProfession.master].points_required}}</b> Skill
                                    Points
                                    to
                                    learn.</span>
                                <span class="tooltipExperience">This skill requires
                                    <b>{{skillData.skills[currentSelectedProfession.master].xp_cost}}</b> of
                                    <b>{{skillData.exp_names[skillData.skills[currentSelectedProfession.master].xp_type]}}</b>
                                    experience</span>
                            </div>
                        </div>
                    </div>

                    <template
                        v-if="currentSelectedProfession.skillTrees != undefined && currentSelectedProfession.skillTrees.length"
                        v-for="(tree, indexTree) in currentSelectedProfession.skillTrees">
                        <div class="eliteSkillsText" data-elite-col="0"
                            :class="{ ['toEliteSkills' + (indexTree + 1)]: true }">
                            <span v-if="tree[3] != undefined"
                                v-for="skill in skillPlannerData.professionLists.eliteProfessionMap[tree[3]]"
                                @click="clickProfession(getProfessionByName(skill))">
                                {{skillData.skill_names[skill]}}
                            </span></div>
                        <div v-for="(skill, indexSkill) in tree" class="professionSkillBox"
                            :class="{ ['skillbox_' + indexSkill + '_' + indexTree]: true, active: currentSelectedSkills.includes(skill) }"
                            @click="clickSkillBox(skill)" @mouseover="showSkillTooltip[skill] = true"
                            @mouseleave="showSkillTooltip[skill] = false">
                            {{skillData.skill_names[skill]}}
                            <div v-if="showSkillTooltip[skill]" class="tooltiptext">
                                <span v-if="skillData.skill_titles[skill] != undefined"
                                    class="tooltipSkillTitleText skillTitle">({{skillData.skill_titles[skill]}})</span>
                                <span class="tooltipDescription">{{skillData.skill_descriptions[skill]}}</span>
                                <span class="tooltipMods" v-if="Object.keys(skillData.skills[skill].skill_mods).length">
                                    <b>MODS:</b>
                                    <br>
                                    <div v-for="(mod, modName, index) in skillData.skills[skill].skill_mods">
                                        <span v-if="skillData.skill_mod_names[modName] != undefined">
                                            {{skillData.skill_mod_names[modName]}}: {{mod}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkills" v-if="Object.keys(skillData.skills[skill].commands).length">
                                    <b>SKILLS:</b>
                                    <div v-for="command in skillData.skills[skill].commands">
                                        <span class="skillsColor"
                                            v-if="skillData.command_names[command.toLowerCase()] != undefined">
                                            {{skillData.command_names[command.toLowerCase()]}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkillPoints">This skill requires
                                    <b>{{skillData.skills[skill].points_required}}</b> Skill Points to
                                    learn.</span>
                                <span class="tooltipExperience">This skill requires
                                    <b>{{skillData.skills[skill].xp_cost}}</b> of
                                    <b>{{skillData.exp_names[skillData.skills[skill].xp_type]}}</b>
                                    experience</span>
                            </div>
                        </div>
                    </template>

                    <div class="noviceSkillBox">
                        <div id="noviceSkillBox" class="professionSkillBox largeSkillBox noviceSkillBoxLabel"
                            :class="{ active: currentSelectedSkills.includes(currentSelectedProfession.novice) }"
                            @click="clickSkillBox(currentSelectedProfession.novice)"
                            @mouseover="showSkillTooltip.novice = true" @mouseleave="showSkillTooltip.novice = false">
                            {{skillData.skill_names[currentSelectedProfession.novice]}}
                            <div v-if="showSkillTooltip.novice" class="tooltiptext">
                                <span v-if="skillData.skill_titles[currentSelectedProfession.novice] != undefined"
                                    class="tooltipSkillTitleText
                                    skillTitle">({{skillData.skill_titles[currentSelectedProfession.novice]}})</span>
                                <span
                                    class="tooltipDescription">{{skillData.skill_descriptions[currentSelectedProfession.novice]}}</span>
                                <span class="tooltipMods"
                                    v-if="Object.keys(skillData.skills[currentSelectedProfession.novice].skill_mods).length">
                                    <b>MODS:</b>
                                    <br>
                                    <div v-for="(mod, modName, index) in
                                        skillData.skills[currentSelectedProfession.novice].skill_mods">
                                        <span v-if="skillData.skill_mod_names[modName] != undefined">
                                            {{skillData.skill_mod_names[modName]}}: {{mod}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkills"
                                    v-if="Object.keys(skillData.skills[currentSelectedProfession.novice].commands).length">
                                    <b>SKILLS:</b>
                                    <div v-for="command in skillData.skills[currentSelectedProfession.novice].commands">
                                        <span class="skillsColor"
                                            v-if="skillData.command_names[command.toLowerCase()] != undefined">
                                            {{skillData.command_names[command.toLowerCase()]}}
                                            <br>
                                        </span>

                                    </div>
                                </span>
                                <span class="tooltipSkillPoints">This skill requires
                                    <b>{{skillData.skills[currentSelectedProfession.novice].points_required}}</b> Skill
                                    Points
                                    to
                                    learn.</span>
                                <span class="tooltipExperience">This skill requires
                                    <b>{{skillData.skills[currentSelectedProfession.novice].xp_cost}}</b> of
                                    <b>{{skillData.exp_names[skillData.skills[currentSelectedProfession.novice].xp_type]}}</b>
                                    experience</span>
                            </div>
                        </div>
                    </div>

                    <div class="prerequesiteSkills">
                        <div id="prerequesitSkillsText" class="prerequesitSkillsText">
                            <span
                                v-for="profession in
                                skillPlannerData.professionLists.novicePrereqProfessionMap[currentSelectedProfession.professionName]"
                                @click="clickProfession(getProfessionByName(profession))">
                                {{skillData.skill_names[profession]}}</span>
                        </div>
                    </div>

                    <div class="skillPointsRemaining">
                        <div id="skillPointsNumbers">
                            {{skillPointsRemaining}}/{{maxSkillPoints}}
                        </div>
                        <div id="skillPointsBar" :style="{'width': skillPointsBarWidth}">
                        </div>
                    </div>
                </div>

                <div class="experienceRequiredDiv">
                    <span class="smallTitle" style="color: #fffffa">Experience Required</span>
                    <div class="experienceRequired">
                        <table id="tableExperienceRequired" class="rightTables">
                            <thead>
                                <tr>
                                    <th class="tableHeaders" data-table-id="tableExperienceRequired"
                                        @click="experienceSortDirection = !experienceSortDirection">Type
                                        {{experienceSortDirectionArrow}}</th>
                                    <th class="tableHeaders" data-table-id="tableExperienceRequired">Amount</th>
                                </tr>
                            <tbody>
                            </tbody>
                            <tr v-for="xpType in experienceRequired" :title="xpType.description">
                                <td>{{xpType.name}}</td>
                                <td>{{xpType.value}}</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="rightSideOfPage">
                <div class="themeContainer">
                    <div style="display: flex; align-items: center;">
                        <h3>Change Theme:</h3>
                        <select class="dropdown" @change="onthemechange($event)" ref="themeChangeSelect"
                            v-model="themeIndex">
                            <option v-for="(theme, index) in themes" :value="index">{{theme.name}}</option>
                            <option disabled>-----------</option>
                            <option style=" font-weight: bolder;" value="addtheme">Add/Edit Theme</option>
                        </select>
                        <!-- <button class="plus-button" title="Create New Theme!" @click="clickCreateTheme"></button> -->
                    </div>

                    <div v-if="showThemeCreation" class="themeCreationContainer">
                        <h3>Select colors for your new theme!</h3>
                        <div style="display: flex; align-items: center;">
                            <span style="padding-right: 4px; font-weight: bold;">Name:</span>
                            <input name="userThemeSelection" list="userThemeSelection" class="dataLists"
                                @input="onThemeInputChange($event)" v-model="newUserThemeName"
                                ref="newThemeNameInput" />
                            <datalist id="userThemeSelection">
                                <option v-for="(theme, index) in userThemes" :value="theme.name"></option>
                            </datalist>
                            <button class="clear-button"
                                @click="newUserThemeName = ''; this.$refs['newThemeNameInput'].focus()"
                                title="Clear Name"></button>
                            <transition name="fade">
                                <div class="toast" v-if="showThemeNameToast">Please enter theme name</div>
                            </transition>
                        </div>

                        <div v-for="(color, key) in themes[validThemeIndex].colors" class="colorRow">
                            <!-- Remove underscores, then split and join back up to capitalize first letter of words -->
                            <label for="head"
                                style="font-style:
                                italic;">{{key.replace("__", "").replace(/\_/g, " ").split(" ").map(x => { return x[0].toUpperCase() + x.substring(1)}).join(" ")}}</label>
                            <input type="color" v-model="color" @input="themeColorChange($event, key)">
                        </div>
                        <div class="themeCreationButtons">
                            <div class="toast" style="position: absolute; left: 0;" v-if="showDeleteThemeToast">Theme
                                deleted!
                            </div>
                            <button class="deleteButton" v-if="userThemes.find(x => x.name == newUserThemeName)"
                                @click="deleteTheme">Delete</button>
                            <button class="cancelButton" @click="clickCancelTheme">Cancel</button>
                            <button class="applyButton" @click="clickApplyTheme">Apply</button>
                        </div>
                    </div>
                </div>

                <div class="rightTablesContainer">
                    <span class="smallTitle">Skill Mods</span>
                    <div class="tableContainer">
                        <table id="tableSkillMods" class="rightTables">
                            <thead>
                                <tr>
                                    <th class="tableHeaders" data-table-id="tableSkillMods"
                                        @click="skillModsSortDirection = !skillModsSortDirection">Name
                                        {{skillModsSortDirectionArrow}}</th>
                                    <th class="tableHeaders" data-table-id="tableSkillMods">Value</th>
                                </tr>
                            <tbody>
                            </tbody>
                            <tr v-for="mod in skillMods" :title="mod.description">
                                <td>{{mod.name}}</td>
                                <td>{{mod.value}}</td>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <span class="smallTitle">Abilities Granted</span>
                    <div class="tableContainer">
                        <table id="abilitiesGranted" class="rightTables">
                            <thead>
                                <tr>
                                    <th @click="abilitiesGrantedSortDirection = !abilitiesGrantedSortDirection"
                                        class="tableHeaders" data-table-id="tableSkillMods">Name
                                        {{abilitiesGrantedSortDirectionArrow}}</th>
                                </tr>
                            <tbody>
                                <tr v-for="ability in abilitiesGranted" :title="ability.description">
                                    <td>{{ability.name}}</td>
                                </tr>
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <span class="smallTitle">Certifications Granted</span>
                    <div class="tableContainer">
                        <table id="abilitiesGranted" class="rightTables">
                            <thead>
                                <tr>
                                    <th @click="certificationSortDirection = !certificationSortDirection"
                                        class="tableHeaders" data-table-id="tableSkillMods">Name
                                        {{certificationsSortDirectionArrow}}</th>
                                </tr>
                            <tbody>
                                <tr v-for="cert in certificationsGranted" :title="cert.description">
                                    <td>{{cert.name}}</td>
                                </tr>
                            </tbody>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </main>
        <footer>
            <span>
                We are in no way affiliated with Sony Online Entertainment, Lucas Arts
                or any other legal owners of Star Wars Galaxies related material.
            </span>
            <span>Version 2.0 - Created by Rytech (Sorry not a designer - Improved Design Eventually!)</span>
            <a class="links" style="position: absolute; top: 8px; right: 8px;" href="#"
                @click="sendFeedback = !sendFeedback">Send
                Feedback</a>
            <div class="feedbackForm" v-if="sendFeedback" ref="feedbackForm">
                <div class="feedbackTitle" @mousedown="dragMouseDown">Feedback</div>
                <div class="closeFeedbackForm" @click="sendFeedback = false">X</div>
                <div style="flex: 1; padding: 8px; display: flex; flex-direction: column;">
                    <label>Type</label>
                    <div style="display: flex;">
                        <select v-model="feedbackSelectType">
                            <option>Feedback</option>
                            <option>Bug</option>
                            <option>Add Theme</option>
                            <option>Other</option>
                        </select>
                        <div v-if="feedbackSelectType == 'Add Theme' && userThemes.length">
                            <label>Theme</label>
                            <select v-model="feedbackAddTheme">
                                <option v-for="(theme, index) in userThemes" :value="theme.name">{{theme.name}}</option>
                            </select>
                        </div>
                    </div>
                    <label>Subject</label>
                    <input v-model="feedbackInputSubject" placeholder="Subject..." />
                    <label>Feedback</label>
                    <textarea v-model="feedbackTextareaFeedback" rows="10" resize="false"
                        placeholder="Enter feedback here..."></textarea>
                    <div class="feedbackSubmitButtonContainer">
                        <button class="applyButton" @click="clickSubmitFeedback">Submit</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>


<script src="/JavaScript/SkillPlanner.js"></script>

</html>