:root {
  --main-bg-color: #00404c;
  --planner-main-color: #048da7;
  --planner-border-color: #a5fbfb;
  --text-color: #a5fbfb;
  --skillTitle: #00cc00;
  --skillsColor: #ffbb00;
  --skillbox-default-color: #006074;
  --skillbox-active-color: #02ab2e;
  --skillbox-highlight-color: #26672a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.mainDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  justify-content: center;
}

header {
  display: flex;
  background-color: var(--planner-main-color);
  padding: 16px 25px;
}

header h1 {
  color: var(--text-color);
  text-shadow: 1px 2px black;
}

.websiteDiv {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.websiteDiv a:link {
  color: var(--text-color);
}

.websiteDiv a:visited {
  color: var(--text-color);
}

.websiteDiv a:hover {
  color: var(--skillbox-default-color);
}

.professionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 25px;
  padding-left: 20px;
  overflow: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 0;
  min-width: 0;
}

.rightSideOfPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-bg-color);
  padding-left: 25px;
  padding-right: 20px;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

footer {
  display: inline-grid;
  width: 100%;
  justify-items: center;
  background-color: var(--planner-main-color);
  color: var(--text-color);
}

footer span {
  padding: 5px;
}

.selectProfessions {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  width: 100%;
  max-width: 1000px;
  min-height: 70px;
}

.selectedProfessionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 40px;
  background-color: var(--skillbox-active-color);
  margin-right: 25px;
  position: relative;
  color: var(--text-color);
  text-shadow: 2px 2px black;
  cursor: pointer;
  border-radius: 0px 8px 0px 8px;
  padding: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.selectedProfessionBox:hover {
  background-color: var(--skillbox-highlight-color);
}

.cancelSelectedProfessionBox {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.skillPlannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillPlannerBody {
  flex: 1;
  display: grid;
  grid-template-areas:
    "topMasterSkills topMasterSkills topMasterSkills topMasterSkills"
    "masterSkillBox masterSkillBox masterSkillBox masterSkillBox"
    "toEliteSkills1 toEliteSkills2 toEliteSkills3 toEliteSkills4"
    "skillbox_3_0 skillbox_3_1 skillbox_3_2 skillbox_3_3"
    "skillbox_2_0 skillbox_2_1 skillbox_2_2 skillbox_2_3"
    "skillbox_1_0 skillbox_1_1 skillbox_1_2 skillbox_1_3"
    "skillbox_0_0 skillbox_0_1 skillbox_0_2 skillbox_0_3"
    "noviceSkillBox noviceSkillBox noviceSkillBox noviceSkillBox"
    "prerequesiteSkills prerequesiteSkills prerequesiteSkills prerequesiteSkills"
    "skillPointsRemaining skillPointsRemaining skillPointsRemaining skillPointsRemaining";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 0.5fr 1.5fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.25fr 0.5fr; */
  gap: 3px 5px;
  border-radius: 6px;
  padding: 15px 5px;
  background-color: var(--planner-main-color);
  width: 800px;
  height: 400px;
  border: 1px solid var(--planner-border-color);
  margin-top: 20px;
}

.skillTitleHeader {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

/* Skill Planner Grid */
.skillName {
  font-size: 2.5rem;
  color: var(--text-color);
  text-shadow: 2px 1px black;
  flex: 1;
}

.topMasterSkills {
  grid-area: topMasterSkills;
  display: inline-grid;
  justify-items: center;
}

.prerequesiteSkills {
  grid-area: prerequesiteSkills;
  display: inline-grid;
  justify-items: center;
}

.masterSkillBox {
  grid-area: masterSkillBox;
  display: inline-grid;
  place-items: center;
}

.toEliteSkills1 {
  grid-area: toEliteSkills1;
  display: inline-grid;
  justify-items: center;
}

.toEliteSkills2 {
  grid-area: toEliteSkills2;
  display: inline-grid;
  justify-items: center;
}

.toEliteSkills3 {
  grid-area: toEliteSkills3;
  display: inline-grid;
  justify-items: center;
}

.toEliteSkills4 {
  grid-area: toEliteSkills4;
  display: inline-grid;
  justify-items: center;
}

/* Skill Boxes */
.skillbox_0_3 {
  grid-area: skillbox_0_3;
}

.skillbox_0_2 {
  grid-area: skillbox_0_2;
}

.skillbox_0_1 {
  grid-area: skillbox_0_1;
}

.skillbox_0_0 {
  grid-area: skillbox_0_0;
}

.skillbox_1_3 {
  grid-area: skillbox_1_3;
}

.skillbox_1_2 {
  grid-area: skillbox_1_2;
}

.skillbox_1_1 {
  grid-area: skillbox_1_1;
}

.skillbox_1_0 {
  grid-area: skillbox_1_0;
}

.skillbox_2_3 {
  grid-area: skillbox_2_3;
}

.skillbox_2_2 {
  grid-area: skillbox_2_2;
}

.skillbox_2_1 {
  grid-area: skillbox_2_1;
}

.skillbox_2_0 {
  grid-area: skillbox_2_0;
}

.skillbox_3_3 {
  grid-area: skillbox_3_3;
}

.skillbox_3_2 {
  grid-area: skillbox_3_2;
}

.skillbox_3_1 {
  grid-area: skillbox_3_1;
}

.skillbox_3_0 {
  grid-area: skillbox_3_0;
}

.noviceSkillBox {
  grid-area: noviceSkillBox;
  display: inline-grid;
  place-items: center;
}

.skillPointsRemaining {
  grid-area: skillPointsRemaining;
  display: flex;
  /* place-items: center; */
  background-color: var(--skillbox-default-color);
  position: relative;
  height: 24px;
}

.skillPointsRemaining::before {
  content: "Skill Points Remaining:";
  position: absolute;
  top: -20px;
  color: white;
  text-shadow: 1px 2px black;
}

#skillPointsNumbers {
  color: white;
  z-index: 1;
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

#skillPointsBar {
  position: absolute;
  background: #02ab2e;
  width: 100%;
  /* For stripes similar to game
  background: repeating-linear-gradient(
    to right,
    #02ab2e,
    #02ab2e 6px,
    rgba(0, 0, 0, 0) 8px,
    rgba(0, 0, 0, 0) 8px
  ); */
  color: white;
  height: 100%;
  transition: all 0.5s ease;
}

.largeSkillBox {
  width: 35%;
  /* height: 90%; */
  /* height: 4rem; */
  background-color: var(--skillbox-default-color);
  cursor: pointer;
  border-radius: 0px 8px 0px 8px;
  color: var(--text-color);
  /* display: inline-grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
  padding: 20px 0;
}

.largeSkillBox:hover {
  background-color: var(--skillbox-highlight-color);
}

.largeSkillBox.active {
  transition: background-color 0.5s ease;
  background-color: var(--skillbox-active-color);
}

.professionSkillBox {
  background-color: var(--skillbox-default-color);
  cursor: pointer;
  border-radius: 0px 8px 0px 8px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
}

.professionSkillBox:hover {
  background-color: var(--skillbox-highlight-color);
}

.professionSkillBox.active {
  transition: background-color 0.5s ease;
  background-color: var(--skillbox-active-color);
}

.topMasterEliteSkillsText {
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 2rem;
}

.topMasterEliteSkillsText>span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.prerequesitSkillsText {
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 1rem;
}

.prerequesitSkillsText>span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.eliteSkillsText {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
}

.eliteSkillsText>span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.smallTitle {
  font-size: 1.25em;
  color: #fffffa;
}

#listProfessions {
  list-style: none;
  background-color: var(--planner-main-color);
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  min-width: 150px;
}

#listProfessions li {
  color: #fffffa;
  text-shadow: 2px 1px black;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

#listProfessions li:hover {
  text-decoration: underline;
  background-color: var(--planner-border-color);
}

#listProfessions>hr {
  border: 1px solid var(--planner-border-color);
  margin: 8px 0;
}

#listProfessions li.activeProfession {
  background-color: var(--planner-border-color);
}

#listProfessions li.selectedProfession {
  background-color: var(--planner-border-color);
}

#listProfessions li.selectedProfession::before {
  content: ">>";
  padding-right: 2px;
}

.rightTablesContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.rightTables {
  color: var(--planner-border-color);
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.rightTables th {
  position: sticky;
  top: -1px;
  background-color: var(--skillbox-default-color);
  color: var(--text-color);
  text-align: left;
  font-weight: bold;
  padding: 2px 3px;
  cursor: pointer;
}

.rightTables tr {
  border-bottom: 1px solid #404040;
}

.rightTables td {
  text-shadow: 1px 2px black;
  padding: 4px 5px;
}

.rightTables td:nth-child(1) {
  border-right: 1px solid #404040;
}

.skillMods {
  display: flex;
  flex-direction: column;
  /* width: 85%; */
  background-color: var(--planner-main-color);
  /* padding: 5px 0; */
  border-radius: 6px;
  border: 1px solid var(--planner-border-color);
  min-width: 250px;
  max-width: 400px;
  /* width: 90%; */
  height: 400px;
  /* padding: 10px 20px; */
  overflow: auto;
  margin-bottom: 50px;
}

#tableSkillMods {
  max-height: 500px;
}

.experienceRequired {
  display: flex;
  flex-direction: column;
  /* width: 85%; */
  background-color: var(--planner-main-color);
  border-radius: 6px;
  border: 1px solid var(--planner-border-color);
  min-width: 350px;
  /* max-width: 400px; */
  /* width: 90%; */
  height: 200px;
  /* max-height: 300px; */
  /* padding: 5px 10px; */
  overflow: auto;
}

#tableExperienceRequired {
  max-height: 350px;
}

#tableExperienceRequired th {
  position: sticky;
  top: -1px;
  background-color: var(--skillbox-default-color);
  color: var(--text-color);
}

/* .professionSkillBox {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

.tooltiptext {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  width: 500px;
  min-height: 75px;
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: center;
  padding: 5px;
  opacity: 80%;
  border: 1px solid var(--planner-border-color);
  text-align: left;
  cursor: default;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 50%;
  margin-left: -20px;
}

.tooltiptext span {
  padding: 8px 2px;
}

.resetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  right: 5px;
  top: 5px; */
  width: 80px;
  height: 35px;
  background-color: rgb(209, 0, 0);
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 0px 8px 0px 8px;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}

.resetButton:hover {
  background-color: rgb(255, 62, 62);
}

.resetButton:active {
  transform: translate(2px, 2px);
  background-color: rgb(151, 0, 0);
  box-shadow: none;
}

.experienceRequired::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.experienceRequired::-webkit-scrollbar-thumb {
  background: var(--planner-border-color);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.experienceRequired::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--planner-border-color), var(--planner-border-color) 1px, var(--main-bg-color) 0, var(--main-bg-color));
  /* background: var(--main-bg-color); */
}

.commandsAndSchematicsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  /* border: 1px solid var(--planner-border-color);   */
  width: 100%;
  padding: 5px;
  height: 150px;
}

.tableContainer {
  color: white;
  border: 1px solid var(--planner-border-color);
  flex: 1;
  /* margin: 10px; */
  background-color: var(--planner-main-color);
  border-radius: 6px;
  position: relative;
  overflow: auto;
  min-width: 250px;
  margin-bottom: 15px;
}

.tableContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: var(--planner-border-color);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.tableContainer::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--planner-border-color), var(--planner-border-color) 1px, var(--main-bg-color) 0, var(--main-bg-color));
  /* background: var(--main-bg-color); */
}

.listHeader {
  display: block;
  /* position: absolute;
  top: 1px; */
  background-color: var(--skillbox-default-color);
  width: 99%;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid black;
  padding: 4px 0 4px 4px;
  position: sticky;
  top: 0;
}

.experienceRequiredDiv {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.listContainer {
  overflow: auto;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skillTitle {
  color: var(--skillTitle);
  font-weight: bold;
  font-size: 1.1em;
}

.skillsColor {
  color: var(--skillsColor);
}

.shareBuildContainer {
  width: 100%;
  display: flex;
  padding: 8px 0;
  position: relative;
}

.mainButton {
  background-color: var(--planner-main-color);
  border: 1px solid var(--main-bg-color);
  padding: 8px;
  border-radius: 0 8px 0 8px;
  color: var(--planner-border-color);
  font-weight: bold;
  margin-right: 8px;
  cursor: pointer;
  margin-top: 6px;
  box-shadow: 2px 2px 3px black;
}

.mainButton:hover {
  background-color: var(--skillbox-highlight-color);
  border: 1px solid var(--main-bg-color);
  color: var(--text-color);
}

.mainButton:active {
  transform: translate(2px, 2px);
  background-color: var(--skillbox-highlight-color);
  color: var(--text-color);
  box-shadow: none;
}

.shareBuildInput {
  padding: 4px;
  display: block;
  border: 1px solid #ccc;
  width: 50%;
  color: #505050;
  background-color: var(--planner-border-color);
  font-style: italic;

}

.toast {
  position: absolute;
  transform: translate(50%, 2rem);
  background-color: white;
  border: 1px solid var(--planner-main-color);
  padding: 8px;
  font-style: italic;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.75s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.themeContainer {
  color: var(--text-color);
}

.dropdown {
  margin-left: 5px;
  padding: 4px;
  border-radius: 6px;
  background-color: var(--planner-main-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.1em;
}

.plus-button {
  border: 2px solid var(--planner-border-color);
  background-color: var(--planner-main-color);
  font-size: 0.75rem;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  margin: 0 8px;
  cursor: pointer;
}

.plus-button:after,
.plus-button:before {
  content: "";
  display: block;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:after {
  height: 0.2em;
  width: 1em;
}

.themeCreationContainer {
  position: absolute;
  border: 1px solid var(--planner-border-color);
  background-color: var(--planner-main-color);
  z-index: 2;
  padding: 8px 16px;
  box-shadow: 3px 3px 4px black;
}

.colorRow {
  padding: 8px;
  display: flex;
  border-bottom: 1px solid var(--planner-border-color);
}

.colorRow label {
  flex: 1;
  padding-right: 8px;
  color: var(--text-color);
}

.themeCreationButtons {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}

.applyButton {
  background-color: var(--skillbox-active-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.cancelButton {
  background-color: var(--skillsColor);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}